@charset "utf-8";
/* CSS Document */


.main-container{
	background:green;
	width:600px;
	margin:0 auto;
	margin-top:50px;
	}
.canvas {
	width:600px;
	height:570px;
	background:url(../images/background.png) 0 0 no-repeat;
	position:relative;
	overflow:hidden;
}

/*main game frame*/
.left-stair {
	position:absolute;
	background:url(../images/stair-l.png) 0 0 no-repeat;
}
.right-stair {
	position:absolute;
	background:url(../images/stair-r.png) 0 0 no-repeat;
}
.up-stair {
	position:absolute;
	background:url(../images/stait-up-down.png) 0 0 no-repeat;
}
.down-star {
	position:absolute;
	background:url(../images/stait-up-down.png) 0 0 no-repeat;
}
.stair-bottom-left {
	position:absolute;
	background:url(../images/stair-bottom-l-r.png) 0 0 no-repeat;
}
.stair-bottom-right {
	position:absolute;
	background:url(../images/stair-bottom-l-r.png) 0 0 no-repeat;
}
.stair-bottom-mid-left {
	position:absolute;
	background:url(../images/stair-bottom-mid.png) 0 0 no-repeat;
}
.stair-bottom-mid-right {
	position:absolute;
	background:url(../images/stair-bottom-right.png) 0 0 no-repeat;
}

/*player and opponent bullets and coin*/

.player {

	background:green;
	position:absolute;
}
.opponent {
	height:40px;
	width:40px;
	background:red;
	position:absolute;
}
.bullets {
	position:absolute;
	z-index:1;
	width:10px;
	height:10px;
	background:yellow;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.coins {
	width:15px;
	height:15px;
	border-radius:10px;
	background:#F93;
	position:absolute;
}
